body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 170px;
}

.header {
    background-image: url(../img/headerWomen.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.phone-img img {
    width: 25px;
    height: 25px;
}

.cart-img {
    width: 30px;
    height: 30px;
}

.header-line {
    padding-top: 25px;
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;

    transition: color 0.2s linear;
}

.nav-item:hover {
    color:#be991c;
}

.cart {
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 60px;
}

.nav {
    margin-right: 20px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.2s linear;
}

.num:hover {
    color:#be991c;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: chocolate;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    border-radius: 10%;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #bea42c;
}

.headre-logo {
    padding-right: 10%;
}

.phone {
    margin-left: 1%;
    padding-right: 2%;
}

.num {
    padding-left: 5px;
}

.header-down {
    margin-right: 61%;
}

.header-title {
    color:#D67E35;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Tinos', serif;
    text-align: center;
    left: 0;
    margin-top: 160px;
    margin-bottom: 12px;
}

.header-suptitle {
    color:#fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    position: relative
}

.header-suptitle:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background-color:#fff;
    top: 10px;
    left: 30px;
}

.header-suptitle::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 60px;
    background-color:#fff;
    top: 10px;
    left: 367px;
}

.header-button {
    background-color:chocolate;
    padding: 14px 28px;
    color:#fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border-radius: 5%;

    transition: background-color 0.2s linear;
}

.header-button:hover {
    background-color: #bea42c;
}

.cards-holder {
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

.card {
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-right: 31px;
    background-color:#fff;
    padding: 10px 10px;
}

.card-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}

.card-desc {
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 24px;
    font-weight: 400;
    color: #757575;
}

.card-title span {
    color:#D67E35;
}

.cards-holder .card:last-child {
    margin-right: 0;
}

.history {
    margin-top: 166px;
    padding-bottom: 200px;
}

.history-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 21px;
}

.history-title span {
    color:#D67E35;
}

.history-desc {
    color: #757575;
    font-size: 16px;
    width: 444px;
    text-align: center;
    margin-top: 20px;
}

.history-number {
    display: flex; 
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color:#be991c;
}

.number-item span {
    display: block;
    color: #000;
    font-size: 24px;
}

.history-images {
    position: relative;
    width: 50%;
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.his-1 {
    position: absolute;
    z-index: 999;
    top: 74px;
    right: 400px;
}

.his-2 {
    position: absolute;
    z-index: 0;
    top: -60px;
    right: 220px;
}

.his-3 {
    position: absolute;
    z-index: 0;
    top: 110px;
    right: 100px;
}

.black-block {
    background: 
		linear-gradient(rgba(0, 0, 0, 0.838), rgba(0, 0, 0, 0.822)), 
		url(../img/prev.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 80px 0;
}

.left-title {
    color:#D67E35;
    font-family: 'Tinos', serif;
    font-size: 52px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.left-text {
    font-weight: 700;
    font-size: 24px;
    color:#fff;
    text-align: center;
}

.right-btn {
    background-color: chocolate;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    font-size: 24px;
    transition: background-color 0.2s linear;
}

.right-btn:hover {
    background-color: #bea42c;
}

.block-holder {
    display: flex;
}

.right {
    margin-left: 150px;
    margin-top: 80px;
}

.dishes-title {
    font-family: 'Tinos', serif;
    font-size: 52px;
    font-weight: 400;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 129px;
}

.dishes-title span {
    color:#D67E35;
}

.bars {
    display: flex;
    justify-content: center;
}

.bar-item {
    display: flex;
    align-items:center;
    margin-bottom: 29px;
}

.bars-image {
    margin-right: 20px;
}

.bar-text {
    font-family: 'Tinos', serif;
    font-size: 26px;
    margin-left: 20px;
}

.menu {
    background-image: url(../img/bg-menu.png);
    background-repeat:no-repeat;
    background-size:cover;
    padding-bottom: 100px;
}

.menu-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    padding-top: 98px;
    color:#fff;
    text-align: center;
    padding-bottom: 138px;
}

.menu-img {
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.menu-item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-right: 20px;
}

.menu-text {
    font-family: 'Tinos', serif;
    font-size: 26px;
    padding-top: 16px;
    padding-bottom: 17px;
}

.menu-subtext {
    font-size: 16px;
}

.menu-btn {
    background-color:#D67E35;
    text-decoration: none;
    padding: 14px 67px;
    color:#fff;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.menu-button {
    margin-top: 20px;
}

.menu-btn:hover {
    background-color: #bea42c;
}

.price-image {
    position: absolute;
    bottom: 0px;
    right: 60px;
}

.menu-image {
    position: relative;
}

.price-num {
    position: absolute;
    bottom:30px;
    right: 85px;
    color:#fff;
    font-size: 30px;
}

.menu-items {
    display: flex;
    justify-content: center;
}

.coment-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    color:#be991c;
    text-align: center;
    padding-bottom: 40px;
}

.coment {
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}

.coment-text {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
}

.coment-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.coment-image {
    text-align: center;
}

.coment-type {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.coment-name {
    padding-top: 9px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.coment-btn {
    background-color:#D67E35;
    text-decoration: none;
    padding: 14px 67px;
    color:#fff;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0px #00000040;
    cursor: pointer;
}

.coment-btn:hover {
    background-color: #bea42c;
}

.coment-button {
    text-align: center;
    margin-top: 40px;
}

.footer {
    height: 60px;
    background-color:#252424;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-message {
    color:#be991c;
    font-size: 12px;
}

.footer-adress {
    color:#be991c;
    font-size: 12px;
}

.message-item {
    width: 20px;
    height: 20px;
}

.name-student {
    color:#be991c;
    font-size: 12px;
}

.modal-feedback {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.modal-feedback:target {
    opacity: 1;
	pointer-events: auto;
    overflow-y: auto;
}

.feedback-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    top: 20%;
}

@media (min-width: 576px) {
  .feedback-dialog {
      max-width: 590px;
      margin: 30px auto;
  }
}

.feedback-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
  .feedback-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}

.feedback-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.feedback-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.feedback-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.feedback-btn-open {
    text-decoration: none;
    color:#fff;
    background-color:#D67E35;
    border-radius: 20%;
    transition: background-color 0.2s linear;
    padding: 0px 2px;
}

.feedback-btn-open:hover {
    background-color: #bea42c;
}

.feedback-form-data {
    display: flex;
    margin-bottom: 5px;
}

.feedback-form-item {
    margin-right: 5px;
}

.feedback-form-item input {
    font-size: 14px;
}

.feedback-message textarea {
    resize: none;
    font-size: 16px;
    width: 550px;
    height: 200px;
}

.feedback-button {
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    padding: 2px 2px;
    background-color:#D67E35;
    color:#fff;
    border: 2px solid #090909;
    transition: background-color 0.2s linear;
}

.feedback-button:hover {
    background-color: #bea42c;
}

.error {
    border: 3px solid #b10000;
}

.display-none {
    display: none;
}

.coment-items {
    margin-top: 30px;
    border-top: 2px solid #090909;
}

.order-items {
    display: flex;
    justify-content: center;
}

.order-name {
    font-weight: 700;
    text-align: center;
}

.order-img img {
    border-radius: 50%;
}

#order-num {
    width: 150px;
}

.order-form-data {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.order-form-item {
    margin-right: 5px;
    margin-bottom: 10px;
}

.order-form-item input {
    font-size: 14px;
}

.order-button {
    background-color:#D67E35;
    color:#fff;
    padding: 2px 5px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.order-button:hover {
    background-color: #bea42c;
}

.order-btn {
    text-align: center;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
}

.dropdown {
    margin-top: 20px;
    position: relative;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

@media (max-width: 1400px) {
    .his-1 {
        right: 180px;
    }
    .his-2 {
        right: 30px;
    }
    .his-3 {
        right: -90px;
    }
    .right {
        margin-left: 5%;
    }
    .right-btn {
        font-size: 16px;
    }
    .left-title {
        font-size: 48px;
    }
    .left-text {
        font-size: 20px;
    }
    .headre-logo {
        padding-right: 0%;
    }
    .header-title {
        font-size: 38px;
    }
}

@media (max-width: 1300px) {  
    .header-suptitle:after {
        left: -10px;
    }
    
    .header-suptitle::before {
        left: 315px;
    }
    .nav-item {
        font-size: 12px;
    }
}